doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	block content
	//
		include layout/mixins.pug
		- var x = 5
		- var message = ['CAT', 'DOG', 'MONKEY']
		- var message_two = ['A', 'B', 'C']

		h1 hello
		+list(message, '1 список')
		+list(message_two, '1 список')






		 DKSALDJKAHFLASHDJASHDLJAHDLHALHFL
			CNAJDFLA;KFA
			ADLNFKLAJD;JAD;FJ
			FNDALFN;AMFD;,AMS
			DK;FNJADK;F;KADMFK;M




		input(type="text" placeholder="Vasya")


		p!='Hello ' + x



		